.filters {
  max-width: 720px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters.open {
  right: 0;
}
.filters-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.filters-container h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-bottom: 124px;
}
.filters-box {
  width: 300px;
}
.filters .filter {
  margin-bottom: 4px;
}
.filters .filter-header {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  outline: none;
  cursor: pointer;
}
.filters .filter-header .minus {
  -webkit-transform: rotate(-180deg) scaleY(0);
          transform: rotate(-180deg) scaleY(0);
}
.filters .filter-header .filter-icon {
  width: 20px;
  height: 20px;
  position: relative;
}
.filters .filter-header .filter-icon svg {
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: absolute;
}
.filters .filter-header .filter-icon path {
  fill: var(--Neutrals-neutral-800, #796F64);
}
.filters .filter-header .filter-icon img {
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters .filter-header:active h6 {
  color: var(--Neutrals-neutral-800, #796F64);
}
.filters .filter-header:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.filters .filter-header.disabled h6 {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.filters .filter-header.disabled button {
  color: var(--Neutrals-neutral-200, #E3E1E0);
}
.filters .filter-header.disabled path {
  fill: #D9D9D9;
}
.filters .filter-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters .filter-name h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters .filter-name .filter-number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  margin-left: 4px;
  color: var(--Accent-Accent-500, #FB654F);
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.filters .filter-name button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  margin-left: 12px;
  border: none;
  background: none;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.filters .filter-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters .filter-content ul {
  padding: 12px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filters .filter-content input {
  display: none;
}
.filters .filter-content label {
  padding: 8px;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  width: 144px;
  display: block;
  white-space: nowrap;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: 32px;
}
.filters .filter-content label:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.filters .filter-content label:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.filters .filter-content li:has(input:checked) label {
  border: none;
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.filters .filter-content li:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.filters .filter-content.sizes ul li label {
  width: 32px;
  text-align: center;
  padding: 8px 0;
}
.filters .filter-content.colors label {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.filters .filter-content.colors .color-box {
  display: block;
  width: 24px;
  height: 24px;
  border: 0.5px solid var(--Neutrals-neutral-200, #E3E1E0);
  background-color: var(--color);
}
.filters .filter-content.colors li:has(input:checked) label {
  background-color: var(--color);
  color: var(--text-color);
}
.filters .filter.open .filter-content {
  max-height: 200px;
  opacity: 1;
}
.filters .filter.open .filter-header .minus {
  -webkit-transform: rotate(0deg) scaleY(1);
          transform: rotate(0deg) scaleY(1);
}
.filters .filter.open .filter-header .plus {
  -webkit-transform: rotate(180deg) scaleY(0);
          transform: rotate(180deg) scaleY(0);
}
.filters-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.menu {
  width: 245px;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 999;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.menu.open {
  left: 0;
}
.menu-container {
  padding: 20px 20px 20px 8px;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.menu-container h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-left: 12px;
}
.menu-list {
  margin-top: 32px;
}
.menu-list h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
  margin-bottom: 12px;
  margin-left: 12px;
}
.menu-list li {
  display: block;
}
.menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  padding: 8px 12px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: relative;
}
.menu-item:active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.menu-item:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.menu-item.active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.menu-item.active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--Neutrals-neutral-800, #796f64);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}
.menu-item:disabled {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}

body:has(.filters.open), body:has(.menu.open) {
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-btn img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  backdrop-filter: blur(10px);
  background: var(--Neutrals-neutral-50, rgba(121, 111, 100, 0.0509803922));
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.overlay.open {
  z-index: 998;
  opacity: 1;
}

.mobile {
  display: none;
}

@media (max-width: 830px) {
  .filters {
    margin: 0;
  }
  .filters-container {
    padding-top: 28px;
  }
  .filters-box {
    width: 100%;
    max-width: 335px;
  }
  .filters .filter-icon img {
    -webkit-transform: var(--trans);
            transform: var(--trans);
  }
  .filters .filter.open .filter-header .filter-icon.mobile img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu-container {
    padding-top: 28px;
  }
  .close-btn {
    top: 20px;
    right: 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}