.filters {
  max-width: 720px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  right: -720px;
  z-index: 999;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.filters.open {
  right: 0;
}
.filters-box {
  width: 300px;
}
.filters .filter {
  margin-bottom: 4px;
}
.filters .filter-header {
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  outline: none;
  cursor: pointer;
}
.filters .filter-header .minus {
  -webkit-transform: rotate(-180deg) scaleY(0);
          transform: rotate(-180deg) scaleY(0);
}
.filters .filter-header .filter-icon {
  width: 20px;
  height: 20px;
  position: relative;
}
.filters .filter-header .filter-icon svg {
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: absolute;
}
.filters .filter-header .filter-icon path {
  fill: var(--Neutrals-neutral-800, #796F64);
}
.filters .filter-header .filter-icon img {
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters .filter-header:active h6 {
  color: var(--Neutrals-neutral-800, #796F64);
}
.filters .filter-header:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.filters .filter-header.disabled h6 {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.filters .filter-header.disabled button {
  color: var(--Neutrals-neutral-200, #E3E1E0);
}
.filters .filter-header.disabled path {
  fill: #D9D9D9;
}
.filters .filter-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filters .filter-name h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters .filter-name .filter-number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  margin-left: 4px;
  color: var(--Accent-Accent-500, #FB654F);
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.filters .filter-name button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  margin-left: 12px;
  border: none;
  background: none;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.filters .filter-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.filters .filter-content ul {
  padding: 12px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filters .filter-content input {
  display: none;
}
.filters .filter-content label {
  padding: 8px;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  width: 144px;
  display: block;
  white-space: nowrap;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: 32px;
}
.filters .filter-content label:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.filters .filter-content label:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.filters .filter-content li:has(input:checked) label {
  border: none;
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.filters .filter-content li:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.filters .filter-content.sizes ul li label {
  width: 32px;
  text-align: center;
  padding: 8px 0;
}
.filters .filter-content.colors label {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.filters .filter-content.colors .color-box {
  display: block;
  width: 24px;
  height: 24px;
  border: 0.5px solid var(--Neutrals-neutral-200, #E3E1E0);
  background-color: var(--color);
}
.filters .filter-content.colors li:has(input:checked) label {
  background-color: var(--color);
  color: var(--text-color);
}
.filters .filter.open .filter-content {
  max-height: 200px;
  opacity: 1;
}
.filters .filter.open .filter-header .minus {
  -webkit-transform: rotate(0deg) scaleY(1);
          transform: rotate(0deg) scaleY(1);
}
.filters .filter.open .filter-header .plus {
  -webkit-transform: rotate(180deg) scaleY(0);
          transform: rotate(180deg) scaleY(0);
}
.filters-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: auto;
}
.filters .mobile {
  display: none;
}

.materials {
  max-width: 720px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  right: -720px;
  z-index: 999;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.materials.open {
  right: 0;
}
.materials .aside-container h5 {
  margin-bottom: 60px;
}
.materials-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 12px;
  height: 196px;
  margin-bottom: 12px;
}
.materials-item-header h6, .materials-item-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
}
.materials-item-header h6 {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.materials-item-header p {
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.materials-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}

.size-table {
  max-width: 720px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  right: -720px;
  z-index: 999;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.size-table.open {
  right: 0;
}
.size-table .aside-container h5 {
  margin-bottom: 60px;
}
.size-table-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}
.size-table-text .right, .size-table-text .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.size-table-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-bottom: 0.5px solid #C9C5C1;
  width: 100%;
}
.size-table-tabs .tab {
  position: relative;
  padding: 4px 12px;
}
.size-table-tabs .tab label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.size-table-tabs .tab input {
  display: none;
}
.size-table-tabs .tab:active label {
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table-tabs .tab:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.size-table-tabs .tab:has(input:checked) label {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.size-table-tabs .tab:has(input:checked)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--Neutrals-neutral-1000, #1A1715);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}
.size-table-tabs .tab:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table-tabs:has(#dimensional-grid-tab:checked) ~ #dimensional-grid {
  display: block;
}
.size-table-tabs:has(#measurements-tab:checked) ~ #measurements {
  display: block;
}
.size-table .tab-content {
  display: none;
  width: 100%;
}
.size-table #dimensional-grid {
  padding-top: 12px;
}
.size-table #dimensional-grid .dimensional-setings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}
.size-table #dimensional-grid .dimensional-setings p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
  margin-bottom: 8px;
}
.size-table #dimensional-grid .dimensional-setings ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.size-table #dimensional-grid .dimensional-setings input {
  display: none;
}
.size-table #dimensional-grid .dimensional-setings label {
  padding: 8px;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  display: block;
  white-space: nowrap;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: 32px;
}
.size-table #dimensional-grid .dimensional-setings label:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.size-table #dimensional-grid .dimensional-setings label:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.size-table #dimensional-grid .dimensional-setings li:has(input:checked) label {
  border: none;
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.size-table #dimensional-grid .dimensional-setings li:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table #dimensional-grid .dimensional-setings .left label {
  width: 32px;
  text-align: center;
  padding: 8px 0;
}
.size-table #dimensional-grid .table-container {
  width: 100%;
  overflow-x: scroll;
}
.size-table #dimensional-grid .table-container::-webkit-scrollbar {
  display: none;
}
.size-table #dimensional-grid .table-container table {
  width: 100%;
}
.size-table #dimensional-grid .table-container thead, .size-table #dimensional-grid .table-container tbody {
  width: 100%;
}
.size-table #dimensional-grid .table-container tr {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  border-bottom: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table #dimensional-grid .table-container th:first-child {
  width: 50%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  text-align: left;
  min-width: 167.5px;
}
.size-table #dimensional-grid .table-container th:not(:first-child) {
  text-align: center;
  font-weight: 500;
  width: 68px;
  min-width: 68px;
}
.size-table #dimensional-grid .table-container th, .size-table #dimensional-grid .table-container td {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table #dimensional-grid .table-container th.selected, .size-table #dimensional-grid .table-container td.selected {
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table #dimensional-grid .table-container td {
  text-align: center;
  width: 68px;
  min-width: 68px;
}
.size-table #measurements {
  padding-top: 20px;
}
.size-table #measurements .measurements-photo {
  width: 100%;
  max-width: 458px;
  margin: 0 auto 20px;
}
.size-table #measurements .measurements-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.size-table #measurements .measurements-info li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 147px;
}
.size-table #measurements .measurements-info-block {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table #measurements .measurements-info-block-number {
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  background-color: var(--Accent-Accent-500, #FB654F);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--Neutrals-neutral-000, #FEFEFF);
  padding: 2px 0;
}
.size-table #measurements .measurements-info-block-name {
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-bottom: 8px;
}
.size-table #measurements .measurements-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.size-table #measurements .measurements-info-text .left, .size-table #measurements .measurements-info-text .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.size-table #measurements .measurements-info-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}

.aside-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.aside-container h5 {
  text-align: center;
  margin-bottom: 124px;
}
.aside-container::-webkit-scrollbar {
  display: none;
}

.menu {
  width: 245px;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  left: -245px;
  z-index: 999;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.menu.open {
  left: 0;
}
.menu-container {
  padding: 20px 20px 20px 8px;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.menu-container h5 {
  margin-left: 12px;
}
.menu-list {
  margin-top: 32px;
}
.menu-list h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
  margin-bottom: 12px;
  margin-left: 12px;
}
.menu-list li {
  display: block;
}
.menu-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  padding: 8px 12px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: relative;
}
.menu-item:active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.menu-item:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.menu-item.active {
  color: var(--Neutrals-neutral-800, #796F64);
}
.menu-item.active::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--Neutrals-neutral-800, #796f64);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}
.menu-item:disabled {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}

body:has(.filters.open), body:has(.menu.open) {
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  backdrop-filter: blur(10px);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  overflow: hidden;
}
.overlay.open {
  z-index: 998;
  opacity: 1;
}
.overlay.right {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(121, 111, 100, 0.05)), color-stop(50%, rgb(121, 111, 100)));
  -webkit-mask-image: linear-gradient(to right, rgba(121, 111, 100, 0.05), rgb(121, 111, 100) 50%);
          mask-image: -webkit-gradient(linear, left top, right top, from(rgba(121, 111, 100, 0.05)), color-stop(50%, rgb(121, 111, 100)));
          mask-image: linear-gradient(to right, rgba(121, 111, 100, 0.05), rgb(121, 111, 100) 50%);
}
.overlay.left {
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(121, 111, 100, 0.05)), color-stop(50%, rgb(121, 111, 100)));
  -webkit-mask-image: linear-gradient(to left, rgba(121, 111, 100, 0.05), rgb(121, 111, 100) 50%);
          mask-image: -webkit-gradient(linear, right top, left top, from(rgba(121, 111, 100, 0.05)), color-stop(50%, rgb(121, 111, 100)));
          mask-image: linear-gradient(to left, rgba(121, 111, 100, 0.05), rgb(121, 111, 100) 50%);
}

@media (max-width: 830px) {
  .filters {
    margin: 0;
    right: -100%;
  }
  .filters-box {
    width: 100%;
    max-width: 335px;
  }
  .filters .filter-icon img {
    -webkit-transform: var(--trans);
            transform: var(--trans);
  }
  .filters .filter.open .filter-header .filter-icon.mobile img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .filters .desktop {
    display: none;
  }
  .filters .mobile {
    display: block;
  }
  .materials {
    right: -100%;
  }
  .materials .aside-container h5 {
    margin-bottom: 51px;
  }
  .materials-item {
    grid-template-columns: 1fr;
    height: unset;
  }
  .materials-item:not(:last-child) {
    margin-bottom: 35px;
  }
  .materials-item-header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .materials-item-header h6, .materials-item-header p {
    line-height: 100%;
    letter-spacing: -2%;
  }
  .materials-item-photo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 196px;
    overflow: hidden;
  }
  .materials-item-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .size-table {
    right: -100%;
  }
  .size-table .aside-container h5 {
    margin-bottom: 51px;
  }
  .size-table-text {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .size-table-tabs {
    gap: 8px;
  }
  .size-table #dimensional-grid {
    padding-top: 24px;
  }
  .size-table #dimensional-grid .dimensional-setings {
    margin-bottom: 24px;
  }
  .size-table #dimensional-grid .dimensional-setings label {
    height: 24px;
    line-height: 20px;
    color: #796F64;
    border: none;
    padding: 2px 8px;
  }
  .size-table #dimensional-grid .dimensional-setings li:has(input:checked) label {
    background-color: var(--Brown-Light, #91897F);
  }
  .size-table #dimensional-grid .dimensional-setings .left label {
    padding: 2px 0;
    width: 24px;
  }
  .size-table #measurements {
    padding-top: 19px;
  }
  .size-table #measurements .measurements-photo {
    margin-bottom: 23px;
  }
  .size-table #measurements .measurements-info ul {
    gap: 40px;
    margin-bottom: 51px;
  }
  .size-table #measurements .measurements-info-text {
    gap: 29px;
  }
  .aside-container {
    padding-top: 28px;
  }
  .close-btn {
    top: 20px;
    right: 20px;
  }
  .back-btn {
    top: 20px;
    left: 20px;
  }
}