.filters {
  width: 720px;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  transition: var(--trans);
}
.filters.open {
  right: 0;
}
.filters-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.filters-container h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-bottom: 124px;
}
.filters-box {
  width: 300px;
}
.filters .filter {
  margin-bottom: 4px;
}
.filters .filter-header {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  transition: var(--trans);
  outline: none;
  cursor: pointer;
}
.filters .filter-header .minus {
  transform: rotate(-180deg) scaleY(0);
}
.filters .filter-header .filter-icon {
  width: 20px;
  height: 20px;
  position: relative;
}
.filters .filter-header .filter-icon svg {
  transition: var(--trans);
  position: absolute;
}
.filters .filter-header .filter-icon path {
  fill: var(--Neutrals-neutral-800, #796F64);
}
.filters .filter-header:active h6 {
  color: var(--Neutrals-neutral-800, #796F64);
}
.filters .filter-header:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.filters .filter-header.disabled h6 {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.filters .filter-header.disabled button {
  color: var(--Neutrals-neutral-200, #E3E1E0);
}
.filters .filter-header.disabled path {
  fill: #D9D9D9;
}
.filters .filter-name {
  display: flex;
  align-items: center;
}
.filters .filter-name h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  transition: var(--trans);
}
.filters .filter-name .filter-number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  margin-left: 4px;
  color: var(--Accent-Accent-500, #FB654F);
  align-self: flex-start;
}
.filters .filter-name button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  margin-left: 12px;
  border: none;
  background: none;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.filters .filter-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: var(--trans);
}
.filters .filter-content ul {
  padding: 12px 0 20px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.filters .filter-content input {
  display: none;
}
.filters .filter-content label {
  padding: 8px;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  width: 144px;
  display: block;
  white-space: nowrap;
  transition: var(--trans);
  height: 32px;
}
.filters .filter-content label:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.filters .filter-content label:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.filters .filter-content li:has(input:checked) label {
  border: none;
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.filters .filter-content li:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.filters .filter-content.sizes ul li label {
  width: 32px;
  text-align: center;
  padding: 8px 0;
}
.filters .filter-content.colors label {
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.filters .filter-content.colors .color-box {
  display: block;
  width: 24px;
  height: 24px;
  border: 0.5px solid var(--Neutrals-neutral-200, #E3E1E0);
  background-color: var(--color);
}
.filters .filter-content.colors li:has(input:checked) label {
  background-color: var(--color);
  color: var(--text-color);
}
.filters .filter.open .filter-content {
  max-height: 200px;
  opacity: 1;
}
.filters .filter.open .filter-header .minus {
  transform: rotate(0deg) scaleY(1);
}
.filters .filter.open .filter-header .plus {
  transform: rotate(180deg) scaleY(0);
}
.filters-buttons {
  display: flex;
  gap: 8px;
  margin-top: auto;
}
.filters #filters-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.filters #filters-close-btn img {
  transform: rotate(45deg);
}

body:has(.filters.open) {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  background: var(--Neutrals-neutral-50, rgba(121, 111, 100, 0.0509803922));
}
.overlay.open {
  z-index: 998;
}