.hero__section {
  padding-top: 44px;
  padding-bottom: 20px;
}
.hero__section .hero__box {
  margin-bottom: 0;
}
.hero__section .hero__center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__section .hero__center img {
  width: 51.91px;
}
.hero__section h1 {
  max-width: 430px;
}
.hero__section p {
  max-width: 223px;
}

.lookbook-content-section {
  position: relative;
}
.lookbook-content-section .lookbook-info {
  width: 100%;
  position: sticky;
  top: 0;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}
.lookbook-content-section .lookbook-info .line {
  display: none;
}
.lookbook-content-section .lookbook-info button, .lookbook-content-section .lookbook-info input, .lookbook-content-section .lookbook-info label {
  pointer-events: auto;
}
.lookbook-content-section .lookbook-info .container {
  height: 100%;
}
.lookbook-content-section .lookbook-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.lookbook-content-section .lookbook-info-name {
  max-width: 223px;
}
.lookbook-content-section .lookbook-info-name h3 {
  margin-bottom: 20px;
}
.lookbook-content-section .lookbook-info-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.lookbook-content-section .lookbook-info-price .old {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -4%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lookbook-content-section .lookbook-info-price .discount {
  padding: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-000, #FEFEFF);
  background-color: var(--Secondary-red-100, #FB654F);
  margin-left: -5px;
}
.lookbook-content-section .lookbook-info-details {
  max-width: 223px;
}
.lookbook-content-section .lookbook-info-details-header {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.lookbook-content-section .lookbook-info-details .colors {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.lookbook-content-section .lookbook-info-details .colors .color {
  width: 24px;
  height: 24px;
  background-color: var(--color);
}
.lookbook-content-section .lookbook-info-details .size-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.lookbook-content-section .lookbook-info-details .size-header .lookbook-info-details-header {
  margin: 0;
}
.lookbook-content-section .lookbook-info-details .size-header button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  background: none;
  border: none;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}
.lookbook-content-section .lookbook-info-details .sizes {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.lookbook-content-section .lookbook-info-details .sizes .size {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--Neutrals-neutral-800, #796F64);
  width: 24px;
  height: 24px;
  padding: 2px 0;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  position: relative;
}
.lookbook-content-section .lookbook-info-details .sizes .size:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.lookbook-content-section .lookbook-info-details .sizes .size:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.lookbook-content-section .lookbook-info-details .sizes .size:has(input:checked) {
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.lookbook-content-section .lookbook-info-details .sizes .size:has(input:disabled) {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.lookbook-content-section .lookbook-info-details .sizes .size input {
  display: none;
}
.lookbook-content-section .lookbook-info-details .sizes .size .tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
  padding: 4px 8px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.7s;
  transition: all 0.3s ease-out 0.7s;
  white-space: nowrap;
}
.lookbook-content-section .lookbook-info-details .sizes .size:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.lookbook-content-section .container.first {
  margin-top: calc(-100vh + 100px);
}
.lookbook-content-section .container.first .lookbook__list_img {
  height: 1600px;
}
.lookbook-content-section .container:last-child .lookbook__list_img {
  height: 1085px;
  padding-bottom: 100px;
}
.lookbook-content-section .section__video {
  margin-top: 100px;
  margin-bottom: 100px;
}
.lookbook-content-section .mob {
  display: none;
}

.lookbook__photo9 {
  width: 107px;
  height: 183px;
  top: 0;
  left: 235px;
}

.lookbook__photo10 {
  width: 345px;
  height: 305px;
  top: 69px;
  left: 491px;
}

.lookbook__photo11 {
  width: 223px;
  height: 305px;
  top: 36px;
  right: 235px;
}

.lookbook__photo12 {
  width: 459px;
  height: 302px;
  top: 374px;
  left: 235px;
}

.lookbook__photo13 {
  width: 309px;
  height: 305px;
  bottom: 224px;
  right: 370px;
}

.lookbook__photo14 {
  width: 224px;
  height: 248px;
  bottom: 100px;
  left: 235px;
}

.size-table {
  max-width: 720px;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--Neutrals-neutral-000, #FEFEFF);
  position: fixed;
  top: 0;
  right: -720px;
  z-index: 999;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.size-table.open {
  right: 0;
}
.size-table .aside-container h5 {
  margin-bottom: 60px;
}
.size-table-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}
.size-table-text .right, .size-table-text .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.size-table-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  border-bottom: 0.5px solid #C9C5C1;
  width: 100%;
}
.size-table-tabs .tab {
  position: relative;
  padding: 4px 12px;
}
.size-table-tabs .tab label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.size-table-tabs .tab input {
  display: none;
}
.size-table-tabs .tab:active label {
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table-tabs .tab:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.size-table-tabs .tab:has(input:checked) label {
  color: var(--Neutrals-neutral-1000, #1A1715);
}
.size-table-tabs .tab:has(input:checked)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--Neutrals-neutral-1000, #1A1715);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}
.size-table-tabs .tab:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table-tabs:has(#dimensional-grid-tab:checked) ~ #dimensional-grid {
  display: block;
}
.size-table-tabs:has(#measurements-tab:checked) ~ #measurements {
  display: block;
}
.size-table .tab-content {
  display: none;
  width: 100%;
}
.size-table #dimensional-grid {
  padding-top: 12px;
}
.size-table #dimensional-grid .dimensional-setings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}
.size-table #dimensional-grid .dimensional-setings p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
  margin-bottom: 8px;
}
.size-table #dimensional-grid .dimensional-setings ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.size-table #dimensional-grid .dimensional-setings input {
  display: none;
}
.size-table #dimensional-grid .dimensional-setings label {
  padding: 8px;
  border: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  display: block;
  white-space: nowrap;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  height: 32px;
}
.size-table #dimensional-grid .dimensional-setings label:active {
  background-color: var(--Neutrals-neutral-200, #E3E1E0);
}
.size-table #dimensional-grid .dimensional-setings label:focus-visible {
  outline: 1px solid #fb654f;
  outline-offset: 2px;
}
.size-table #dimensional-grid .dimensional-setings li:has(input:checked) label {
  border: none;
  background-color: var(--Neutrals-neutral-800, #796F64);
  color: var(--Neutrals-neutral-000, #FEFEFF);
}
.size-table #dimensional-grid .dimensional-setings li:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table #dimensional-grid .dimensional-setings .left label {
  width: 32px;
  text-align: center;
  padding: 8px 0;
}
.size-table #dimensional-grid .table-container {
  width: 100%;
  overflow-x: scroll;
}
.size-table #dimensional-grid .table-container::-webkit-scrollbar {
  display: none;
}
.size-table #dimensional-grid .table-container table {
  width: 100%;
}
.size-table #dimensional-grid .table-container thead, .size-table #dimensional-grid .table-container tbody {
  width: 100%;
}
.size-table #dimensional-grid .table-container tr {
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  border-bottom: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table #dimensional-grid .table-container th:first-child {
  width: 50%;
  color: var(--Neutrals-neutral-1000, #1A1715);
  text-align: left;
  min-width: 167.5px;
}
.size-table #dimensional-grid .table-container th:not(:first-child) {
  text-align: center;
  font-weight: 500;
  width: 68px;
  min-width: 68px;
}
.size-table #dimensional-grid .table-container th, .size-table #dimensional-grid .table-container td {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.size-table #dimensional-grid .table-container th.selected, .size-table #dimensional-grid .table-container td.selected {
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table #dimensional-grid .table-container td {
  text-align: center;
  width: 68px;
  min-width: 68px;
}
.size-table #measurements {
  padding-top: 20px;
}
.size-table #measurements .measurements-photo {
  width: 100%;
  max-width: 458px;
  margin: 0 auto 20px;
}
.size-table #measurements .measurements-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.size-table #measurements .measurements-info li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 147px;
}
.size-table #measurements .measurements-info-block {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  color: var(--Neutrals-neutral-800, #796F64);
}
.size-table #measurements .measurements-info-block-number {
  width: 24px;
  height: 24px;
  margin-bottom: 20px;
  background-color: var(--Accent-Accent-500, #FB654F);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--Neutrals-neutral-000, #FEFEFF);
  padding: 2px 0;
}
.size-table #measurements .measurements-info-block-name {
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-bottom: 8px;
}
.size-table #measurements .measurements-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.size-table #measurements .measurements-info-text .left, .size-table #measurements .measurements-info-text .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.size-table #measurements .measurements-info-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--Neutrals-neutral-600, #AEA8A2);
}

.aside-container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  max-height: 100vh;
  height: 100vh;
}
.aside-container h5 {
  text-align: center;
  margin-bottom: 124px;
}
.aside-container::-webkit-scrollbar {
  display: none;
}

body:has(.size-table.open) {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  backdrop-filter: blur(10px);
  -webkit-transition: var(--trans);
  transition: var(--trans);
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(121, 111, 100, 0.05)), color-stop(50%, rgb(121, 111, 100)));
  -webkit-mask-image: linear-gradient(to right, rgba(121, 111, 100, 0.05), rgb(121, 111, 100) 50%);
          mask-image: -webkit-gradient(linear, left top, right top, from(rgba(121, 111, 100, 0.05)), color-stop(50%, rgb(121, 111, 100)));
          mask-image: linear-gradient(to right, rgba(121, 111, 100, 0.05), rgb(121, 111, 100) 50%);
}
.overlay.open {
  z-index: 998;
  opacity: 1;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cta-section .cta-header {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1340px) {
  .lookbook__photo10 {
    left: 360px;
  }
  .lookbook__photo12 {
    width: 380px;
  }
  .lookbook__photo12 img {
    height: 100%;
    width: auto;
  }
  .lookbook__photo13 {
    right: 235px;
  }
}
@media (max-width: 1200px) {
  .lookbook-content-section .lookbook__list_img {
    margin: 0;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .lookbook-content-section .mob {
    display: block;
  }
  .lookbook__photo9,
  .lookbook__photo10,
  .lookbook__photo13 {
    display: none;
  }
  .lookbook__photo11 {
    margin-left: 235px;
  }
  .lookbook__photo12 {
    margin-right: 235px;
    margin-left: auto;
    margin-block: 12px;
  }
  .lookbook__photo14 {
    margin-left: 235px;
  }
}
@media (max-width: 840px) {
  .hero__section {
    padding-top: 4px;
    padding-bottom: 20px;
  }
  .hero__section .hero__box {
    gap: 16px;
  }
  .hero__section .hero__center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 44px;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero__section .hero__center img {
    display: none;
  }
  .hero__section h1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero__section .sub_title {
    max-width: 400px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .lookbook-content-section {
    padding-block: 50px;
  }
  .lookbook-content-section .lookbook-info {
    display: none;
  }
  .lookbook-content-section .lookbook__list_img {
    padding: 0 !important;
  }
  .lookbook-content-section .section__video {
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .lookbook-content-section .container.first {
    margin-top: 0;
  }
  .lookbook__photo11,
  .lookbook__photo12 {
    margin-bottom: 40px;
  }
  .lookbook__photo12 {
    width: 100%;
    max-width: 500px;
  }
  .lookbook__photo12 img {
    height: 100%;
    width: auto;
  }
  .lookbook__photo14 {
    margin-left: auto;
  }
}