* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Mariupol", sans-serif;
	text-decoration: none;
	list-style: none;
	cursor: none !important;
}
html,
body {
	cursor: none !important;
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
.container_pd{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px;
}
@media (max-width: 1050px) {
	.container {
		padding: 0 20px;
	}

}
main {
	padding-top: 56px;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
}

img {
	width: 100%;
	display: block;
	user-select: none;
	pointer-events: none;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #1010100d;
}

::-webkit-scrollbar-thumb {
	background: #101010e5;
	border-radius: 6px;
	transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color_black);
}
/* БАЗОВІ СТИЛІ */
.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px;
	border: 1px solid transparent;

	transition: background 0.3s linear, outline-color 0.2s;

	&.orange {
		background: var(--Accent-Accent-500, #fb654f);
	}
	&.light_gray {
		background: var(--Neutrals-neutral-100, #f1f0ef);
	}
	&.white {
		background: var(--Neutrals-neutral-100, #fefeff);
	}
	&.gray {
		background: var(--Neutrals-neutral-800, #796f64);
	}
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	border: 1px solid transparent;
	height: max-content;
	transition: background 0.3s linear, outline-color 0.2s, box-shadow 0.2s;
	width: fit-content;
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -0.14px;

	&.orange {
		background: var(--Accent-Accent-500, #fb654f);
		color: var(--Neutrals-neutral-000, #fefeff);
	}
	&.light_gray {
		background: var(--Neutrals-neutral-100, #f1f0ef);
		color: var(--Neutrals-neutral-800, #796f64);
	}
	&.white {
		background: var(--Neutrals-neutral-100, #fefeff);
		color: var(--Neutrals-neutral-800, #796f64);
	}
	&.gray {
		background: var(--Neutrals-neutral-800, #796f64);
		color: var(--Neutrals-neutral-000, #fefeff);
	}
}

@media (max-width: 840px) {
	.icon {
		padding: 4px;
		margin: 8px;

		img {
			width: 16px;
			height: 16px;
		}
	}
}

.input-box {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	label {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--Neutrals-neutral-800, #796f64);
	}

	.input {
		position: relative;
width: 100%;
		input,
		textarea {
			padding: 12px 0;
			border: none;
			border-bottom: 0.5px solid var(--Neutrals-neutral-400, #c9c5c1);
			color: var(--Neutrals-neutral-1000, #1a1715);
			width: 100%;
			outline: none;
			transition: var(--trans);
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
width: 100%;
			&::placeholder {
				color: var(--Neutrals-neutral-400, #c9c5c1);
			}

			&:focus {
				border-bottom: 0.5px solid var(--Neutrals-neutral-800, #796f64);
			}
		}

		svg {
			width: 16px;
			height: 16px;
			position: absolute;
			right: 8px;
			top: 12px;
			background: none;
			border: none;
		}
	}

	&:has(.input.error) {
		label {
			color: var(--semantic-s-error, #fb654f);
		}

		.input-text {
			color: var(--semantic-s-error, #fb654f);
			opacity: 1;
			visibility: visible;
		}

		.input {
			border-bottom: 0.5px solid var(--semantic-s-error, #fb654f);
		}
	}

	&:has(input:disabled) {
		label {
			color: var(--Neutrals-neutral-400, #c9c5c1);
		}

		input {
			color: var(--Neutrals-neutral-200, #e3e1e0);
		}
	}

	.input-text {
		margin-top: 6px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s linear;
		
	}
}

.h1_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px; /* 100% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h2_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h3_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 110% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h4_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px; /* 112.5% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.h5_title {
	color: var(--Neutrals-neutral-1000, #1a1715);
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px; /* 114.286% */
	text-transform: uppercase;
	& .orange {
		color: var(--Accent-Accent-500, #fb654f);
	}
}
.sub_title {
	color: var(--Neutrals-neutral-800, #796f64);
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */
	letter-spacing: -0.14px;
}

.breadcrumbs {
	display: flex;
	gap: 8px;
	align-items: center;

	.breadcrumb {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0%;
		color: var(--Neutrals-neutral-600, #AEA8A2);
		padding: 5px 0;
		transition: var(--trans);

		&:last-child {
			color: var(--Neutrals-neutral-1000, #1A1715);
		}

		&:active {
			color: var(--Neutrals-neutral-800, #796F64);
		}

		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}

	.badge {
		width: 4px;
		height: 4px;
		border-radius: 99px;
		background-color: var(--Neutrals-neutral-600, #AEA8A2);
	}
}

// cursor
@media (min-width: 500px) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		background: #0097a7 !important;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		z-index: 999999;
	}

	.cursor-border {
		position: fixed;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border: 2px solid #0097a7 !important;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		z-index: 999999;
		transition: width 0.2s ease, height 0.2s ease, border-color 0.2s;
	}

	.cursor-border.hover {
		width: 80px;
		height: 80px;
	}
}

// title small
.small__info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.h3_title {
		margin-bottom: 20px;
	}
	.sub_title {
		margin-bottom: 40px;
		max-width: 350px;
		text-align: center;
	}
}

.info_grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	margin-bottom: 24px;
	img {
		height: 12px;
	}
	.sub_title {
		max-width: 200px;
		margin-right: 0px;
		margin-left: auto;
	}
	.h3_title {
		max-width: 220px;
	}
}

//card
.card__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	position: relative;

	.subphoto {
		color: var(--Neutrals-neutral-1000, #1a1715);
		text-align: center;
		font-family: Mariupol;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 125% */
		letter-spacing: -0.64px;
		transition: opacity 0.3s linear;
	}
	.card__img {
		transition: opacity 0.3s linear;
	}
	.icon {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;
	}
}

/* ДЕСКТОПНІ СТАНИ*/
@media (hover: hover) and (pointer: fine) {
	.icon,
	.btn {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}

		&.orange {
			&:hover {
				background: var(--Accent-Accent-600, #fb654f);
			}
			&:active {
				background: var(--Accent-Accent-600, #c7503f);
			}
		}

		&.light_gray {
			&:hover {
				background: var(--Neutrals-neutral-200, #f1f0ef);
			}
			&:active {
				background: var(--Neutrals-neutral-200, #e3e1e0);
			}
		}

		&.white {
			&:hover {
				background: var(--Neutrals-neutral-200, #fefeff);
			}
			&:active {
				background: var(--Neutrals-neutral-200, #e3e1e0);
			}
		}

		&.gray {
			&:hover {
				background: var(--Neutrals-neutral-900, #796f64);
			}
			&:active {
				background: var(--Neutrals-neutral-900, #59514a);
			}
		}
	}
	.header__link {
		&:active {
			color: var(--Neutrals-neutral-800, #796f64);
		}
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}
	.footer__link {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
		&:active {
			color: var(--Neutrals-neutral-000, #bcbcbc) !important;
		}
	}
	.card__item {
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
		&:active {
			.icon {
				background: var(--Neutrals-neutral-200, #e3e1e0);
			}
			.subphoto {
				opacity: 0.8;
			}
			.card__img {
				opacity: 0.8;
			}
		}
	}
	.slide__img {
		&:hover {
			.plus {
				opacity: 1;
				visibility: visible;
			}
		}
		&:focus-visible {
			outline: 1px solid #fb654f;
			outline-offset: 2px;
		}
	}
	.swiper-slide-active .slide__img:hover {
		.like {
			opacity: 1;
			visibility: visible;
		}
	}
}
.section__title {
	padding-block: 100px;
	.big_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.h1_title {
		max-width: 600px;
		margin-bottom: 20px;
	}
	.sub_title {
		max-width: 250px;
		margin-bottom: 40px;
	}
}

.tag {
    padding: 8px 12px;
    color: var(--Secondary-red-100, #FB654F);
    background-color: var(--Secondary-red-10, #FB654F1A);
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1%;
    transition: var(--trans);

    &:active {
        outline: 1px solid var(--Secondary-red-100, #FB654F)
    }

    &:focus-visible {
        outline: 1px solid #fb654f;
		outline-offset: 2px;
    }

    &.active {
        background-color: var(--Secondary-red-100, #FB654F);
        color: var(--Neutrals-neutral-000, #FEFEFF);
    }

    &:disabled {
        background-color: var(--Neutrals-neutral-100, #F1F0EF);
        color: var(--Neutrals-neutral-400, #C9C5C1);
    }
}

.blog-card {
    display: block;
    transition: var(--trans);

    &-photo {
        overflow: hidden;
        transition: var(--trans);

        img {
            object-fit: cover;
        }
    }

    &-info {
        display: flex;
        gap: 12px;
        align-items: center;

        .date {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -1%;
            color: var(--Neutrals-neutral-600, #AEA8A2);
            transition: var(--trans);
        }
    }

    &-name {
        h3 {
            margin-bottom: 12px;
            transition: var(--trans);
        }

        p {
            transition: var(--trans);
        }
    }

    &:active{
        .blog-card-name {
            h3 {
                color: var(--Neutrals-neutral-800, #796F64);
            }

            p {
                color: var(--Neutrals-neutral-600, #AEA8A2);
            }
        }

        .blog-card-photo {
            opacity: 80%;
        }

        .blog-card-info .date {
            color: var(--Neutrals-neutral-400, #C9C5C1);
        }
    }

    &:focus-visible {
        outline: 1px solid #fb654f;
		outline-offset: 2px;
    }

    &:disabled {
        .blog-card-name {
            h3 {
                color: var(--Neutrals-neutral-400, #C9C5C1);
            }

            p {
                color: var(--Neutrals-neutral-200, #E3E1E0);
            }
        }

        .blog-card-photo {
            opacity: 40%;
        }

        .blog-card-info .date {
            color: var(--Neutrals-neutral-200, #E3E1E0);
        }
    }

    &.big {
        display: flex;
        gap: 16px;
        height: 500px;

        .blog-card-name {
            width: 223px;
        }

        .blog-card-photo {
            flex: 1;
            height: 100%;
        }

        .blog-card-info {
            width: 223px;
            height: fit-content;
        }
    }

    &.small {
        display: block;

        .blog-card-photo {
            height: 400px;
            width: 100%;
            margin-bottom: 16px;
        }

        .blog-card-info {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 840px) {
	.blog-card {
		.blog-card-name,
		.blog-card-info {
			padding: 0 20px;
		}
	}
}