@import url(../css/base.css);
@import url(../css/fonts.css);

:root {
	--trans: all 0.3s ease-out;
	--color_black: #101010;
	--color_black_10: #1010101a;
	--color_white: #ffffff;
	--color_green_400: #0c998c;
	--color_green_500: #0a8075;
	--color_pure_400: #ffedde;
	--color_pure_500: #e5d5c8;
	--color_red_400: #ff6f61;
	--color_red_500: #e56457;
}

// header-----------------------------------------------------------------------------
.header__container {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: var(--Neutrals-neutral-000, #fefeff);
	padding: 4px 8px;
	z-index: 99;
}
@media (min-width: 1920px) {
	.header__container {
		max-width: 1920px;
		left: 50%;
		transform: translate(-50%);
	}
	.container__footer {
		max-width: 1920px;
		margin-right: auto;
		margin-left: auto;
	}
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo {
	width: 115px;
	img {
		width: 115px;
	}
}
.burger.mob {
	display: none;
	padding-left: 0px;
}
.header__list {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 475px;
	gap: 8px;
	justify-content: flex-start;
	li {
		display: flex;
		position: relative;
		&.active .header__link::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: var(--Neutrals-neutral-800, #796f64);
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
			z-index: 1;
		}
		&.active .header__link {
			color: var(--Neutrals-neutral-800, #796f64);
		}
	}
	&.right {
		justify-content: flex-end;
	}
}
.header__link {
	padding: 8px 12px;
	position: relative;
	color: var(--Neutrals-neutral-600, #aea8a2);
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	transition: color 0.3s linear, outline-color 0.2s linear;
	letter-spacing: -0.14px;
	border: none;
}
.header_number {
	position: absolute;
	top: 7px;
	right: -6px;
	color: var(--Neutrals-neutral-800, #796f64);
	font-family: Mariupol;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px; /* 116.667% */
}
.burger {
	padding: 8px 12px;
	position: relative;
	color: var(--Neutrals-neutral-600, #aea8a2);
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	color: var(--Brown-Dark, #796f64);
	letter-spacing: -0.14px;
	border: none;

	background: transparent;

	&::before {
		opacity: 0;
		transition: opacity 0.3s linear;

		content: "";
		position: absolute;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: var(--Neutrals-neutral-800, #796f64);
		top: 50%;
		transform: translateY(-50%);
		left: -10px;
		z-index: 1;
	}
	&.active::before {
		opacity: 1;
	}
}
@media (max-width: 840px) {
	.header__list.left {
		display: none;
	}
	.burger.mob {
		display: flex;
	}
	.header__list.right {
		width: auto;
		max-width: auto;
	}
	.header__link.desk {
		display: none;
	}
	.header__link.mobile {
		color: var(--Brown-Dark, #796f64);
	}
	.header__container {
		padding: 12px 20px;
	}
	.header__nav{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.header__mobile_container {
	position: fixed;
	width: 100%;
	top: 56px;
	left: -100%;
	background: #fff;
	padding: 22px 20px;
	transition: left 0.3s linear;
	height: 100svh;
	z-index: 999999;
	&.active {
		left: 0px;
	}
}

.header__mobile_list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.header__line {
	width: 100%;
	height: 1px;
	background: rgba(121, 111, 100, 0.4);
}
.mobile__item_list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	&.grid1 {
		grid-template-columns: 1fr;
	}
	li {
		padding: 8px 0px;
	}
	a {
		color: #000;
		font-family: Mariupol;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 16px */
		letter-spacing: -0.32px;
	}
}
.mobile__item {
	h4 {
		color: var(--Brown-Dark, #796f64);
		font-family: Mariupol;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 14px */
		letter-spacing: -0.28px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

//footer------------------------------------------------------------------------------------------------------------------------

.footer {
	background: var(--Neutrals-neutral-800, #796f64);
}
.container__footer {
	padding: 32px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.footer__top {
	width: 100%;
	margin-bottom: 100px;
	img {
		height: 16px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}
.footer__main {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}
.footer__main_img {
	max-width: 460px;
	width: 100%;
	img {
		max-width: 230px;
		margin-right: auto;
		margin-left: auto;
	}
}
.footer__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	width: 100%;
}
.footer__list_col {
	display: flex;
	flex-direction: column;
	gap: 20px;
	h4 {
		color: var(--Neutrals-neutral-600, #aea8a2);
		font-family: Mariupol;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 16px; /* 114.286% */
		text-transform: uppercase;
	}
}
.footer_list_link {
	display: flex;
	flex-direction: column;
	gap: 2px;
	li {
		padding-block: 4px;
	}
}
.footer__link {
	color: var(--Neutrals-neutral-000, #fefeff) !important;
	font-family: Mariupol;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 114.286% */
	letter-spacing: -0.14px;
	transition: color 0.3s linear, outline-color 0.2s linear;
}
.footer__contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	margin: 40px auto;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	p {
		color: var(--Neutrals-neutral-600, #aea8a2);
		font-family: Mariupol;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 114.286% */
		letter-spacing: -0.14px;
		max-width: 460px;
	}
	img {
		width: 200px;
	}
}
.footer__bottom_img-mob {
	display: none;
}
@media (max-width: 830px) {
	.footer__bottom_img-mob {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top: 20px;
		width: 200px;
	}
	.footer__bottom {
		img {
			display: none;
		}
	}
	.footer__list {
		grid-template-columns: 1fr;
		&.right {
			text-align: right;
		}
	}
	.footer__main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		justify-items: center;
	}

	.footer__main_img {
		grid-column: 1 / 3;
		justify-self: center;
		margin-bottom: 67px;
		order: -1;
	}
	.footer__list_col {
		min-height: 200px;
	}
	.footer__contact {
		margin-top: 0px;
	}
}

.hero__section {
	padding-bottom: 20px;
	.btn {
		margin-right: auto;
		margin-left: auto;
	}
	.sub_title {
		margin-left: auto;
		margin-right: 0px;
		max-width: 220px;
	}
}
.hero__box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	margin-bottom: 60px;
	align-items: center;
}

.slider__section {
	padding-block: 100px;
	.btn {
		margin-right: auto;
		margin-left: auto;
	}
}

.swiper {
	width: 100%;
	padding-bottom: 40px;
	height: 592px;
	align-items: center;
	display: flex;
}
.swiper-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}
.swiper-slide {
	flex-shrink: 0;
	height: 552px;
	overflow: hidden;
	position: relative;
	width: 220px;
	transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	padding-top: 52px;
}
.swiper-slide .slide__photo {
	height: 500px !important;
	object-fit: cover;
	display: block;
}

.swiper-slide-active {
	width: 440px !important;
	opacity: 1;
	z-index: 2;
	& .slide_info {
		opacity: 1;
	}
	& .slide__photo {
		transform: translateY(0px) !important;
	}
}

.slide_info {
	margin-bottom: 12px;
	opacity: 0;
	transition: opacity 0.3s linear;
	position: absolute;
	top: 0px;
	left: 50%;
	width: 200%;
	transform: translateX(-50%);
	.h5_title {
		text-align: center;
		margin-bottom: 4px;
	}
}
.slide__img {
	position: relative;
	.plus {
		position: absolute;
		left: 8px;
		top: 8px;
		opacity: 0;
		visibility: hidden;
		z-index: 2;
		transition: var(--trans);
		&:focus {
			outline: none;
		}
	}
	.like {
		position: absolute;
		right: 8px;
		top: 8px;
		opacity: 0;
		visibility: hidden;
		z-index: 2;
		transition: var(--trans);
		&:focus {
			outline: none;
		}
	}
}

.price_box_sale {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	position: relative;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
	.new__price {
		color: var(--Neutrals-neutral-800, #796f64);

		/* m2 */
		font-family: Mariupol;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 125% */
		letter-spacing: -0.64px;
	}
	.old__price {
		color: var(--Neutrals-neutral-600, #aea8a2);

		/* m3 */
		font-family: Mariupol;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px; /* 114.286% */
		letter-spacing: -0.14px;
	}
	.discount {
		color: var(--Neutrals-neutral-000, #fefeff);

		/* m4 */
		font-family: Mariupol;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 14px; /* 116.667% */
		position: absolute;
		background: var(--Secondary-red-100, #fb654f);
		display: flex;
		padding: 2px;
		justify-content: center;
		align-items: center;
		right: -26px;
	}
}
.price_box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	position: relative;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
	.price {
		color: var(--Neutrals-neutral-800, #796f64);

		/* m2 */
		font-family: Mariupol;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 125% */
		letter-spacing: -0.64px;
	}
}
.parallax-lookbook-wrapper {
	position: relative;
}
.parallax__section {
	background: url(/assets/img/bg_parallax.png) no-repeat center/contain;
	height: 600px;
	position: sticky;
	top: 0;
	z-index: 1;
}
.parallax__container {
	height: 100%;
	position: relative;
	overflow: hidden;
}
.parallax__content {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 20px;
	.h3_title {
		color: white;
		& span {
			color: black;
		}
	}
}

.lookbook {
	&__section {
		position: relative;
		z-index: 2;
		background: white;
		padding-block: 100px;
		img {
			object-fit: cover;
			width: 100%;
		}
	}
	&__fixed {
		height: 1600px;
	}
	&__list_img {
		height: 100%;
		position: relative;
		li {
			overflow: hidden;
			position: absolute;
		}
	}
	&__photo1 {
		width: 230px;
		height: 305px;
		top: 0px;
		left: 235px;
	}
	&__photo2 {
		width: 460px;
		height: 305px;
		top: 85px;
		right: 235px;
	}
	&__photo3 {
		width: 345px;
		height: 305px;
		top: 430px;
		left: 350px;
	}
	&__photo4 {
		width: 110px;
		height: 185px;
		top: 495px;
		right: 330px;
	}
	&__photo5 {
		width: 225px;
		height: 305px;
		top: 735px;
		left: 470px;
	}
	&__photo6 {
		width: 340px;
		height: 400px;
		bottom: 465px;
		right: 235px;
	}
	&__photo7 {
		width: 225px;
		height: 250px;
		bottom: 200px;
		left: 235px;
	}
	&__photo8 {
		width: 460px;
		height: 320px;
		bottom: 0px;
		right: 350px;
	}
	&__info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 12px;
		position: sticky;
		align-items: center;
		top: 400px;
		z-index: 2;
		.h3_title {
			max-width: 250px;
		}
		.sub_title {
			max-width: 220px;
			margin-left: auto;
			margin-right: 0px;
		}
		a {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
@media (max-width: 1340px) {
	.lookbook {
		&__photo3 {
			top: 430px;
			left: 235px;
		}

		&__photo5 {
			top: 735px;
			left: 235px;
		}
		&__photo8 {
			right: 235px;
		}
	}
}
@media (max-width: 1200px) {
	.lookbook {
		&__list_img {
			li {
				position: relative;
				left: auto;
				top: auto;
				right: auto;
				bottom: auto;
			}
		}
		&__fixed {
			height: max-content;
		}
		&__photo1 {
			margin-left: 235px;
		}
		&__photo2 {
			margin-right: 235px;
			margin-left: auto;
			margin-block: 12px;
		}
		&__photo3 {
			display: none;
		}
		&__photo4 {
			display: none;
		}
		&__photo5 {
			display: none;
		}
		&__photo6 {
			display: none;
		}
		&__photo7 {
			margin-left: 235px;
			width: 110px;
			height: 185px;
			img {
				height: 100%;
				object-position: right;
			}
		}
		&__photo8 {
			margin-right: 235px;
			margin-left: auto;
			margin-top: 12px;
		}
	}
}
.section__card {
	padding-block: 100px;
}
.card__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
	margin-top: 60px;
}
.card__item {
	.card__img {
		width: 100%;
		height: 100%;
		max-height: 515px;
		overflow: hidden;
	}
	img {
		object-fit: cover;
		object-position: top;
	}
}
.section__about {
	padding-top: 100px;
	.btn.gray {
		margin-right: auto;
		margin-left: auto;
		margin-top: 60px;
	}
	.about_photo {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.section__sweater {
	.sweater__animation {
		position: relative;
	}
	.sweater__list {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		gap: 16px;
		.round {
			border-radius: 50%;
			width: 4px;
			height: 4px;
			background: var(--Neutrals-neutral-800, #796f64);
		}
	}
	.btn {
		margin-right: auto;
		margin-left: auto;
		margin-top: 40px;
	}
	.sweater__img {
		img {
			margin-right: auto;
			margin-left: auto;
			aspect-ratio: 1/1;
		}
	}
	.sweater_info {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		display: grid;
		grid-template-columns: 1fr 1fr;
		transition: var(--trans);
		&.active {
			opacity: 1;
			visibility: visible;
		}
		.h3_title {
			max-width: 200px;
		}
		.sub_title {
			margin-right: 0px;
			margin-left: auto;
			max-width: 220px;
		}
	}
}

.cta-section {
	padding: 100px 0;

	.cta-header {
		font-weight: 700;
		font-size: 40px;
		line-height: 110.00000000000001%;
		text-align: center;
		text-transform: uppercase;
		color: var(--Neutrals-neutral-1000, #1a1715);
		margin-bottom: 20px;

		span {
			color: var(--Accent-Accent-500, #fb654f);
		}
	}

	.cta-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: -1%;
		text-align: center;
		color: var(--Neutrals-neutral-800, #796f64);
		margin-bottom: 40px;
	}

	.cta-form {
		margin: 0 auto;
		width: 264px;

		.input-box {
			margin-bottom: 20px;
		}
	}

	button {
		margin: 0 auto;
	}
}
.lookbook__fixed {
	.mob {
		display: none;
	}
}
@media (max-width: 840px) {
	.hero__box {
		grid-template-columns: 1fr;
		margin-bottom: 12px;
	}
	.hero__section .sub_title {
		margin-left: 0px;
		margin-right: auto;
		max-width: 300px;
	}
	.hero__section .btn {
		margin-left: 0px;
	}
	.slider__section {
		.info_grid3 {
			margin-bottom: 60px;
		}
	}

	.info_grid3 {
		grid-template-columns: 1fr;
		gap: 16px;
		.h3_title {
			max-width: 400px;
		}
	}
	.info_grid3 img {
		order: -1;
		margin-left: 0px;
		margin-right: auto;
		width: fit-content;
		margin-bottom: 24px;
	}
	.info_grid3 .sub_title {
		max-width: 450px;
		margin-left: 0px;
	}
	.parallax__section {
		height: 500px;
		background-size: cover;
		background-position: left;
	}
	.lookbook__info {
		.h3_title {
			display: none;
		}
		.sub_title {
			display: none;
		}
	}
	.lookbook__fixed {
		.mob {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
	.lookbook__info {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 12px;
	}
	.lookbook__photo1 {
		margin-left: 0px;
		margin-right: auto;
	}
	.lookbook__photo2 {
		margin-right: 0px;
		margin-left: auto;
		width: 335px;
		height: 305px;
		img {
			object-fit: cover;
			height: 100%;
		}
	}
	.lookbook__photo7 {
		margin-left: 60px;
		margin-right: auto;
		margin-top: 24px;
	}
	.lookbook__photo8 {
		width: 335px;
		height: 190px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 0px;
		img {
			object-fit: cover;
			height: 100%;
		}
	}
	.lookbook__section {
		padding-bottom: 50px;
	}
	.small__info {
		align-items: start;
		text-align: left;
	}
	.small__info .sub_title {
		text-align: left;
	}
	.card__grid {
		grid-template-columns: 1fr;
		gap: 32px;
	}
	.section__sweater .sweater__list {
		max-width: 100%;
		width: 820px;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		gap: 16px;
		margin-top: 20px;
	}
	.section__sweater .sweater__list > * {
		flex-shrink: 0;
	}
	.section__about .btn.gray {
		margin-left: 0px;
		margin-right: 40px;
	}
	.section__sweater .sweater_info {
		position: relative;
		opacity: 1;
		visibility: visible;
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		.sub_title {
			margin-left: 0px;
			margin-top: 12px;
			max-width: 400px;
		}
		.h3_title {
			max-width: 400px;
		}
	}
	.section__about .about_photo {
		height: 450px;
		margin-top: 60px;
		img {
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.card__item .card__img {
		max-height: 350px;
	}
}

@media (max-width: 500px) {
	.swiper .swiper-slide-active,
	.swiper .swiper-slide {
		width: 335px !important;
	}
	.slide__img .plus,
	.slide__img .like {
		opacity: 1;
		visibility: visible;
	}
}
