@import url(../css/base.css);
@import url(../css/fonts.css);

:root {
  --trans: all 0.3s ease-out;
  --color_black: #101010;
  --color_black_10: #1010101A;
  --color_white: #FFFFFF;
  --color_green_400: #0C998C;
  --color_green_500: #0A8075;
  --color_pure_400: #FFEDDE;
  --color_pure_500: #E5D5C8;
  --color_red_400: #FF6F61;
  --color_red_500: #E56457;
}

// header-----------------------------------------------------------------------------
.header {
  position: fixed;
  top: 20px;
  z-index: 100;
  width: 100%;

  &-container {
      box-shadow: 0px 2px 6px 0px #0000000D;
      background-color: #fff;
      border-radius: 32px;
      margin: 0px 40px;
  }

  &-info { 
      padding: 12px;
      padding-left: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &-left {
      display: flex;
      gap: 8px;
      align-items: center;

      .logo {
          padding-right: 16px;
      }

      .header-line {
      width: 1px;
      height: 20px; 
      background-color: var(--colours-neutrals-black-100, #1010101A)
      }
  }

  &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  }

  nav {
      display: flex;
      gap: 8px;
      align-items: center;

      .header-list {
      display: flex;
      align-items: center;
  }
  }

  &-item {
      padding: 10px 16px;
      &:has(.header-link:focus-visible) {
          
          outline: 1px solid #0A8075;
          border-radius: 22px;
      }
  }

  &-cart-count {
      color:  #10101080;
      font-size: 12.6px;

  }
}

.header-link {
  color: #101010;
  position: relative;
  display: inline-flex;
  gap: 4px;
  background: none;
  border: none;
cursor: pointer;
      &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 1px;
          background-color: #101010;
          transition: width 0.35s;
      }
      &:hover::before, &.selected::before {
          width: 100%;
      }

      &:active::before {
          width: 100%;
          transform: scale(0.9);
      }

      &:focus-visible {
          outline: none;
      }
  }

.burger-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #101010;
  border-radius: 20px;
  padding: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;

  div {
  width: 14px;
  height: 1px;
  background-color: #101010;
  transition: all 0.3s ease;
  }

  &.active .line1 {
      transform: rotate(-45deg) translate(-3.4px, 4.3px);
  }
  &.active .line2 {
      opacity: 0;
  }
  &.active .line3 {
      transform: rotate(45deg) translate(-2.8px, -3.5px);
  }
}

.burger-menu {
  max-height: 0;
  overflow: hidden;
  transition: var(--trans);

  .burger-container {
    padding: 0 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-line {
      width: 100%;
      height: 1px;
      background-color: #1010101A;
  }

  &.active {
      max-height: 280px;
  }

  .services-link-burger {
    display: flex;
    justify-content: space-between;

    svg {
      transform: rotate(180deg);
      transition: var(--trans);

      &.open {
        transform: rotate(0deg);
      }
    }
  }
}

.header-dropdown {
  position: fixed;
  top: 94px;
  left: 40px;
  z-index: 101;
  width: 625px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s ease-out 0.2s;
  background-color: var(--color_white);
  border-radius: 28px;

  &-container {
    padding: 8px;
    display: flex;
    gap: 8px;
  }

  &-item {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    flex: 1;
    transition: var(--trans);

    &:hover, &:active {
      .header-dropdown-item-info {
        background-color: var(--color_pure_500);
      }
    }

    &:active {
      transform: scale(0.9);
    }

    &:focus-visible {
      outline: 1px solid var(--color_green_500);
    }

    &-photo {
      height: 94px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      padding: 4px;
      padding-left: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color_pure_400);
      transition: var(--trans);

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0%;
        color: var(--color_black);
      }
    }
  }
}

@media (min-width: 1019px) {
  .header-container:has(.services-link:hover) ~ .header-dropdown,
  .header-dropdown:hover {
    max-height: 160px;
  }
}

@media (max-width: 1019px) {
  .burger-icon {
      display: flex;
  }

  .header {
      top: 10px;

      &-container {
          margin: 0 10px;
      }

      &-left .header-line, nav {
          display: none;
      }
  }

  .header-dropdown {
    left: 10px;
    top: 110px;

    &.open {
      max-height: 160px;
    }
  }
}

@media (max-width: 644px) {
  .header-dropdown {
    width: calc(100% - 20px);
    overflow-y: auto;

    &.open {
      max-height: 320px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &-container {
      flex-direction: column;

    }
  }
}

// .backet {
//   border: none;
//   cursor: pointer;
//   background: transparent;

//   .mob {
//     display: none;
//   }
// }

// .backet_main {
//   display: none;
// }

// .h__right a,
// .backet {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   svg path {
//     transition: var(--trans);
//   }

//   svg circle {
//     transition: var(--trans);
//   }

//   &:hover svg path {
//     fill: #d1c1a8;
//     stroke: #d1c1a8;
//   }

//   &:hover svg circle {
//     fill: #d1c1a8;
//     stroke: #d1c1a8;
//   }
// }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #10101080;
  z-index: 998;
  transition: var(--trans);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.basket {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: min(520px, 100%);
  z-index: 999;
  transition: all 0.6s ease-out 0.1s;
  padding: 10px;

  &.active {
    right: 0;
  }

  &-container {
    background-color: var(--color_white);
    padding: 28px;
    border-radius: 20px;
    height: 100%;
    color: var(--color_black);
  }

  h4 {
    margin-bottom: 20px;
  }

  &-list {
    display: flex; 
    flex-direction: column;
    gap: 12px;
    height: calc(100% - 268px);
    overflow-y: auto;
  }

  &-bottom {
    margin-top: 20px;
  }

  &-totals {
    border: 1px solid var(--color_black_10);
    border-radius: 20px;
    margin-bottom: 16px;

    div {
      display: flex;
      justify-content: space-between;
    }

    &-subtotal {
      padding: 24px 20px;
      border-bottom: 1px solid var(--color_black_10);

      p:first-child {
        color: #101010B2;
      }
    }

    &-total {
      padding: 26px 20px;
    }
  }
}

.cart-item {
  display: flex;
  gap: 16px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--color_black_10);

  &-photo {
    width: 72px;
    height: 72px;
    border-radius: 20px;
    background-color: var(--color_black_10);
  }

  &-info {
    flex: 1;

    &-title {
      margin-bottom: 8px;
    }

    .sku {
      color: #10101080;
      margin-bottom: 2px;
    }

    .quantity-controls {
      margin-top: 8px;
    }
  }

  &-right {
    width: 104px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.cta-section {
  padding: 100px 0;

  .cta-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 110.00000000000001%;
    text-align: center;
    text-transform: uppercase;
    color: var(--Neutrals-neutral-1000, #1A1715); 
    margin-bottom: 20px;

    span {
      color: var(--Accent-Accent-500, #FB654F);
    }
  }

  .cta-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1%;
    text-align: center;
    color: var(--Neutrals-neutral-800, #796F64);
    margin-bottom: 40px;
  }

  .cta-form {
    margin: 0 auto;
    width: 264px;

    .input-box {
      margin-bottom: 20px;
    }
  }

  button {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .cart-item {
    &-photo {
      display: none;
    }
  }
}

