@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mariupol", sans-serif;
  text-decoration: none;
  list-style: none;
  cursor: none !important;
}

html,
body {
  cursor: none !important;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
  }
}
main {
  padding-top: 56px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0.0509803922);
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 16, 16, 0.8980392157);
  border-radius: 6px;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color_black);
}

/* БАЗОВІ СТИЛІ */
.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border: 1px solid transparent;
  -webkit-transition: background 0.3s linear, outline-color 0.2s;
  transition: background 0.3s linear, outline-color 0.2s;
}
.icon.orange {
  background: var(--Accent-Accent-500, #fb654f);
}
.icon.light_gray {
  background: var(--Neutrals-neutral-100, #f1f0ef);
}
.icon.white {
  background: var(--Neutrals-neutral-100, #fefeff);
}
.icon.gray {
  background: var(--Neutrals-neutral-800, #796f64);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
  border: 1px solid transparent;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: background 0.3s linear, outline-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.3s linear, outline-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.3s linear, outline-color 0.2s, box-shadow 0.2s;
  transition: background 0.3s linear, outline-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.14px;
}
.btn.orange {
  background: var(--Accent-Accent-500, #fb654f);
  color: var(--Neutrals-neutral-000, #fefeff);
}
.btn.light_gray {
  background: var(--Neutrals-neutral-100, #f1f0ef);
  color: var(--Neutrals-neutral-800, #796f64);
}
.btn.white {
  background: var(--Neutrals-neutral-100, #fefeff);
  color: var(--Neutrals-neutral-800, #796f64);
}
.btn.gray {
  background: var(--Neutrals-neutral-800, #796f64);
  color: var(--Neutrals-neutral-000, #fefeff);
}

.input-box label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--Neutrals-neutral-800, #796f64);
}
.input-box .input {
  position: relative;
}
.input-box .input input,
.input-box .input textarea {
  padding: 12px 0;
  border: none;
  border-bottom: 0.5px solid var(--Neutrals-neutral-400, #c9c5c1);
  color: var(--Neutrals-neutral-1000, #1a1715);
  width: 100%;
  outline: none;
  -webkit-transition: var(--trans);
  transition: var(--trans);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.input-box .input input::-webkit-input-placeholder, .input-box .input textarea::-webkit-input-placeholder {
  color: var(--Neutrals-neutral-400, #c9c5c1);
}
.input-box .input input::-moz-placeholder, .input-box .input textarea::-moz-placeholder {
  color: var(--Neutrals-neutral-400, #c9c5c1);
}
.input-box .input input:-ms-input-placeholder, .input-box .input textarea:-ms-input-placeholder {
  color: var(--Neutrals-neutral-400, #c9c5c1);
}
.input-box .input input::-ms-input-placeholder, .input-box .input textarea::-ms-input-placeholder {
  color: var(--Neutrals-neutral-400, #c9c5c1);
}
.input-box .input input::placeholder,
.input-box .input textarea::placeholder {
  color: var(--Neutrals-neutral-400, #c9c5c1);
}
.input-box .input input:focus,
.input-box .input textarea:focus {
  border-bottom: 0.5px solid var(--Neutrals-neutral-800, #796f64);
}
.input-box .input svg {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 12px;
  background: none;
  border: none;
}
.input-box:has(.input.error) label {
  color: var(--semantic-s-error, #fb654f);
}
.input-box:has(.input.error) .input-text {
  color: var(--semantic-s-error, #fb654f);
  display: block;
}
.input-box:has(.input.error) .input {
  border-bottom: 0.5px solid var(--semantic-s-error, #fb654f);
}
.input-box:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #c9c5c1);
}
.input-box:has(input:disabled) input {
  color: var(--Neutrals-neutral-200, #e3e1e0);
}
.input-box .input-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: none;
}

.h1_title {
  color: var(--Neutrals-neutral-1000, #1a1715);
  font-family: Mariupol;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
}
.h1_title .orange {
  color: var(--Accent-Accent-500, #fb654f);
}

.h2_title {
  color: var(--Neutrals-neutral-1000, #1a1715);
  font-family: Mariupol;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.h2_title .orange {
  color: var(--Accent-Accent-500, #fb654f);
}

.h3_title {
  color: var(--Neutrals-neutral-1000, #1a1715);
  font-family: Mariupol;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  text-transform: uppercase;
}
.h3_title .orange {
  color: var(--Accent-Accent-500, #fb654f);
}

.h4_title {
  color: var(--Neutrals-neutral-1000, #1a1715);
  font-family: Mariupol;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  text-transform: uppercase;
}
.h4_title .orange {
  color: var(--Accent-Accent-500, #fb654f);
}

.h5_title {
  color: var(--Neutrals-neutral-1000, #1a1715);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}
.h5_title .orange {
  color: var(--Accent-Accent-500, #fb654f);
}

.sub_title {
  color: var(--Neutrals-neutral-800, #796f64);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}

@media (min-width: 500px) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #0097a7 !important;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999999;
  }
  .cursor-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #0097a7 !important;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 999999;
    -webkit-transition: width 0.2s ease, height 0.2s ease, border-color 0.2s;
    transition: width 0.2s ease, height 0.2s ease, border-color 0.2s;
  }
  .cursor-border.hover {
    width: 80px;
    height: 80px;
  }
}
.small__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.small__info .h3_title {
  margin-bottom: 20px;
}
.small__info .sub_title {
  margin-bottom: 40px;
  max-width: 350px;
  text-align: center;
}

.info_grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 24px;
}
.info_grid3 img {
  height: 12px;
}
.info_grid3 .sub_title {
  max-width: 200px;
  margin-right: 0px;
  margin-left: auto;
}
.info_grid3 .h3_title {
  max-width: 220px;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  position: relative;
}
.card__item .subphoto {
  color: var(--Neutrals-neutral-1000, #1a1715);
  text-align: center;
  font-family: Mariupol;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.64px;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.card__item .card__img {
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.card__item .icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

/* ДЕСКТОПНІ СТАНИ*/
@media (hover: hover) and (pointer: fine) {
  .icon:focus-visible,
  .btn:focus-visible {
    outline: 1px solid #fb654f;
    outline-offset: 2px;
  }
  .icon.orange:hover,
  .btn.orange:hover {
    background: var(--Accent-Accent-600, #fb654f);
  }
  .icon.orange:active,
  .btn.orange:active {
    background: var(--Accent-Accent-600, #c7503f);
  }
  .icon.light_gray:hover,
  .btn.light_gray:hover {
    background: var(--Neutrals-neutral-200, #f1f0ef);
  }
  .icon.light_gray:active,
  .btn.light_gray:active {
    background: var(--Neutrals-neutral-200, #e3e1e0);
  }
  .icon.white:hover,
  .btn.white:hover {
    background: var(--Neutrals-neutral-200, #fefeff);
  }
  .icon.white:active,
  .btn.white:active {
    background: var(--Neutrals-neutral-200, #e3e1e0);
  }
  .icon.gray:hover,
  .btn.gray:hover {
    background: var(--Neutrals-neutral-900, #796f64);
  }
  .icon.gray:active,
  .btn.gray:active {
    background: var(--Neutrals-neutral-900, #59514a);
  }
  .header__link:active {
    color: var(--Neutrals-neutral-800, #796f64);
  }
  .header__link:focus-visible {
    outline: 1px solid #fb654f;
    outline-offset: 2px;
  }
  .footer__link:focus-visible {
    outline: 1px solid #fb654f;
    outline-offset: 2px;
  }
  .footer__link:active {
    color: var(--Neutrals-neutral-000, #bcbcbc) !important;
  }
  .card__item:focus-visible {
    outline: 1px solid #fb654f;
    outline-offset: 2px;
  }
  .card__item:active .icon {
    background: var(--Neutrals-neutral-200, #e3e1e0);
  }
  .card__item:active .subphoto {
    opacity: 0.8;
  }
  .card__item:active .card__img {
    opacity: 0.8;
  }
  .slide__img:hover .plus {
    opacity: 1;
    visibility: visible;
  }
  .slide__img:focus-visible {
    outline: 1px solid #fb654f;
    outline-offset: 2px;
  }
  .swiper-slide-active .slide__img:hover .like {
    opacity: 1;
    visibility: visible;
  }
}
.section__title {
  padding-block: 100px;
}
.section__title .big_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.section__title .h1_title {
  max-width: 600px;
  margin-bottom: 20px;
}
.section__title .sub_title {
  max-width: 250px;
  margin-bottom: 40px;
}