@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mariupol", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
  user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0.0509803922);
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 16, 16, 0.8980392157);
  border-radius: 6px;
  transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color_black);
}

/* БАЗОВІ СТИЛІ */
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background 0.3s linear, outline-color 0.2s, box-shadow 0.2s;
}
.icon.orange {
  background: var(--Accent-Accent-500, #fb654f);
}
.icon.white {
  background: var(--Neutrals-neutral-100, #f1f0ef);
}
.icon.gray {
  background: var(--Neutrals-neutral-800, #796f64);
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background 0.3s linear, outline-color 0.2s, box-shadow 0.2s;
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.14px;
}
.btn.orange {
  background: var(--Accent-Accent-500, #fb654f);
  color: var(--Neutrals-neutral-000, #fefeff);
}
.btn.white {
  background: var(--Neutrals-neutral-100, #f1f0ef);
  color: var(--Neutrals-neutral-800, #796f64);
}
.btn.gray {
  background: var(--Neutrals-neutral-800, #796f64);
  color: var(--Neutrals-neutral-000, #fefeff);
}

.input-box label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--Neutrals-neutral-800, #796F64);
}
.input-box .input {
  position: relative;
}
.input-box .input input, .input-box .input textarea {
  padding: 12px 0;
  border: none;
  border-bottom: 0.5px solid var(--Neutrals-neutral-400, #C9C5C1);
  color: var(--Neutrals-neutral-1000, #1A1715);
  width: 100%;
  outline: none;
  transition: var(--trans);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.input-box .input input::placeholder, .input-box .input textarea::placeholder {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.input-box .input input:focus, .input-box .input textarea:focus {
  border-bottom: 0.5px solid var(--Neutrals-neutral-800, #796F64);
}
.input-box .input svg {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  top: 12px;
  background: none;
  border: none;
}
.input-box:has(.input.error) label {
  color: var(--semantic-s-error, #FB654F);
}
.input-box:has(.input.error) .input-text {
  color: var(--semantic-s-error, #FB654F);
  display: block;
}
.input-box:has(.input.error) .input {
  border-bottom: 0.5px solid var(--semantic-s-error, #FB654F);
}
.input-box:has(input:disabled) label {
  color: var(--Neutrals-neutral-400, #C9C5C1);
}
.input-box:has(input:disabled) input {
  color: var(--Neutrals-neutral-200, #E3E1E0);
}
.input-box .input-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: none;
}

/* ДЕСКТОПНІ СТАНИ*/
@media (hover: hover) and (pointer: fine) {
  .icon:focus-visible,
  .btn:focus-visible {
    outline: 1px solid #fb654f;
    outline-offset: 2px;
  }
  .icon.orange:hover,
  .btn.orange:hover {
    background: var(--Accent-Accent-600, #c7503f);
  }
  .icon.orange:active,
  .btn.orange:active {
    background: var(--Accent-Accent-600, #c7503f);
  }
  .icon.white:hover,
  .btn.white:hover {
    background: var(--Neutrals-neutral-200, #e3e1e0);
  }
  .icon.white:active,
  .btn.white:active {
    background: var(--Neutrals-neutral-200, #e3e1e0);
  }
  .icon.gray:hover,
  .btn.gray:hover {
    background: var(--Neutrals-neutral-900, #59514a);
  }
  .icon.gray:active,
  .btn.gray:active {
    background: var(--Neutrals-neutral-900, #59514a);
  }
}
body {
  background: #6c6c6c;
}