@import url(../css/base.css);
@import url(../css/fonts.css);
:root {
  --trans: all 0.3s ease-out;
  --color_black: #101010;
  --color_black_10: #1010101a;
  --color_white: #ffffff;
  --color_green_400: #0c998c;
  --color_green_500: #0a8075;
  --color_pure_400: #ffedde;
  --color_pure_500: #e5d5c8;
  --color_red_400: #ff6f61;
  --color_red_500: #e56457;
}

.header__container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--Neutrals-neutral-000, #fefeff);
  padding: 4px 8px;
  z-index: 99;
}

@media (min-width: 1920px) {
  .header__container {
    max-width: 1920px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .container__footer {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  width: 115px;
}
.header_logo img {
  width: 115px;
}

.burger.mob {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 475px;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header__list li.active .header__link::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--Neutrals-neutral-800, #796f64);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}
.header__list li.active .header__link {
  color: var(--Neutrals-neutral-800, #796f64);
}
.header__list.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__link {
  padding: 8px 12px;
  position: relative;
  color: var(--Neutrals-neutral-600, #aea8a2);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  -webkit-transition: color 0.3s linear, outline-color 0.2s linear;
  transition: color 0.3s linear, outline-color 0.2s linear;
  letter-spacing: -0.14px;
  border: none;
}

.header_number {
  position: absolute;
  top: 7px;
  right: -6px;
  color: var(--Neutrals-neutral-800, #796f64);
  font-family: Mariupol;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
}

.burger {
  padding: 8px 12px;
  position: relative;
  color: var(--Neutrals-neutral-600, #aea8a2);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--Brown-Dark, #796f64);
  letter-spacing: -0.14px;
  border: none;
  background: transparent;
}
.burger::before {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--Neutrals-neutral-800, #796f64);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0px;
  z-index: 1;
}
.burger.active::before {
  opacity: 1;
}

@media (max-width: 830px) {
  .header__list.left {
    display: none;
  }
  .burger.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list.right {
    width: auto;
    max-width: auto;
  }
  .header__link.desk {
    display: none;
  }
  .header__link.mobile {
    color: var(--Brown-Dark, #796f64);
  }
  .header__container {
    padding: 12px 20px;
  }
}
.header__mobile_container {
  position: fixed;
  width: 100%;
  top: 56px;
  left: -100%;
  background: #fff;
  padding: 22px 20px;
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}
.header__mobile_container.active {
  left: 0px;
}

.header__mobile_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.header__line {
  width: 100%;
  height: 1px;
  background: rgba(121, 111, 100, 0.4);
}

.mobile__item_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobile__item_list.grid1 {
  grid-template-columns: 1fr;
}
.mobile__item_list li {
  padding: 8px 0px;
}
.mobile__item_list a {
  color: #000;
  font-family: Mariupol;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.32px;
}

.mobile__item h4 {
  color: var(--Brown-Dark, #796f64);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 14px */
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer {
  background: var(--Neutrals-neutral-800, #796f64);
}

.container__footer {
  padding: 32px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__top {
  width: 100%;
  margin-bottom: 100px;
}
.footer__top img {
  height: 16px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.footer__main_img {
  max-width: 460px;
  width: 100%;
}
.footer__main_img img {
  max-width: 230px;
  margin-right: auto;
  margin-left: auto;
}

.footer__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}

.footer__list_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer__list_col h4 {
  color: var(--Neutrals-neutral-600, #aea8a2);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
}

.footer_list_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.footer_list_link li {
  padding-block: 4px;
}

.footer__link {
  color: var(--Neutrals-neutral-000, #fefeff) !important;
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
  -webkit-transition: color 0.3s linear, outline-color 0.2s linear;
  transition: color 0.3s linear, outline-color 0.2s linear;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  margin: 40px auto;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__bottom p {
  color: var(--Neutrals-neutral-600, #aea8a2);
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
  max-width: 460px;
}
.footer__bottom img {
  width: 200px;
}

.footer__bottom_img-mob {
  display: none;
}

@media (max-width: 830px) {
  .footer__bottom_img-mob {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 200px;
  }
  .footer__bottom img {
    display: none;
  }
  .footer__list {
    grid-template-columns: 1fr;
  }
  .footer__list.right {
    text-align: right;
  }
  .footer__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  .footer__main_img {
    grid-column: 1/3;
    justify-self: center;
    margin-bottom: 67px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer__list_col {
    min-height: 200px;
  }
  .footer__contact {
    margin-top: 0px;
  }
}
.hero__section {
  padding-bottom: 20px;
}
.hero__section .btn {
  margin-right: auto;
  margin-left: auto;
}
.hero__section .sub_title {
  margin-left: auto;
  margin-right: 0px;
  max-width: 220px;
}

.hero__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__section {
  padding-block: 100px;
}
.slider__section .btn {
  margin-right: auto;
  margin-left: auto;
}

.swiper {
  width: 100%;
  padding-bottom: 40px;
  height: 592px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 552px;
  overflow: hidden;
  position: relative;
  width: 220px;
  -webkit-transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding-top: 52px;
}

.swiper-slide img {
  height: 500px !important;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.swiper-slide-active {
  width: 440px !important;
  opacity: 1;
  z-index: 2;
}
.swiper-slide-active .slide_info {
  opacity: 1;
}
.swiper-slide-active img {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
}

.slide_info {
  margin-bottom: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 200%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slide_info .h5_title {
  text-align: center;
  margin-bottom: 4px;
}

.price_box_sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.price_box_sale .new__price {
  color: var(--Neutrals-neutral-800, #796f64);
  /* m2 */
  font-family: Mariupol;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.64px;
}
.price_box_sale .old__price {
  color: var(--Neutrals-neutral-600, #aea8a2);
  /* m3 */
  font-family: Mariupol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}
.price_box_sale .discount {
  color: var(--Neutrals-neutral-000, #fefeff);
  /* m4 */
  font-family: Mariupol;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  position: absolute;
  background: var(--Secondary-red-100, #fb654f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -26px;
}

.parallax__container {
  height: 600px;
  position: relative;
  overflow: hidden;
  background: url(/assets/img/bg_parallax.png) no-repeat center/contain;
}

.parallax__content {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 20px;
}
.parallax__content .h3_title {
  color: white;
}
.parallax__content .h3_title span {
  color: black;
}

.lookbook__section {
  padding-block: 100px;
}
.lookbook__section img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.lookbook__fixed {
  height: 1600px;
}
.lookbook__list_img {
  height: 100%;
  position: relative;
}
.lookbook__list_img li {
  overflow: hidden;
  position: absolute;
}
.lookbook__photo1 {
  width: 230px;
  height: 305px;
  top: 0px;
  left: 235px;
}
.lookbook__photo2 {
  width: 460px;
  height: 305px;
  top: 85px;
  right: 235px;
}
.lookbook__photo3 {
  width: 345px;
  height: 305px;
  top: 430px;
  left: 350px;
}
.lookbook__photo4 {
  width: 110px;
  height: 185px;
  top: 495px;
  right: 330px;
}
.lookbook__photo5 {
  width: 225px;
  height: 305px;
  top: 735px;
  left: 470px;
}
.lookbook__photo6 {
  width: 340px;
  height: 400px;
  bottom: 465px;
  right: 235px;
}
.lookbook__photo7 {
  width: 225px;
  height: 250px;
  bottom: 200px;
  left: 235px;
}
.lookbook__photo8 {
  width: 460px;
  height: 320px;
  bottom: 0px;
  right: 350px;
}
.lookbook__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 400px;
  z-index: 2;
}
.lookbook__info .h3_title {
  max-width: 250px;
}
.lookbook__info .sub_title {
  max-width: 220px;
  margin-left: auto;
  margin-right: 0px;
}
.lookbook__info a {
  margin-right: auto;
  margin-left: auto;
}

.section__card {
  padding-block: 100px;
}

.card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 60px;
}

.card__item .card__img {
  width: 100%;
  height: 100%;
  max-height: 515px;
  overflow: hidden;
}
.card__item img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.section__about {
  padding-top: 100px;
}
.section__about .btn.gray {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
.section__about .about_photo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section__sweater .sweater__animation {
  position: relative;
}
.section__sweater .sweater__list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  gap: 16px;
}
.section__sweater .sweater__list .round {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: var(--Neutrals-neutral-800, #796f64);
}
.section__sweater .btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}
.section__sweater .sweater__img img {
  margin-right: auto;
  margin-left: auto;
  aspect-ratio: 1/1;
}
.section__sweater .sweater_info {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-transition: var(--trans);
  transition: var(--trans);
}
.section__sweater .sweater_info.active {
  opacity: 1;
  visibility: visible;
}
.section__sweater .sweater_info .h3_title {
  max-width: 200px;
}
.section__sweater .sweater_info .sub_title {
  margin-right: 0px;
  margin-left: auto;
  max-width: 220px;
}

.cta-section {
  padding: 100px 0;
}
.cta-section .cta-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: var(--Neutrals-neutral-1000, #1A1715);
  margin-bottom: 20px;
}
.cta-section .cta-header span {
  color: var(--Accent-Accent-500, #FB654F);
}
.cta-section .cta-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--Neutrals-neutral-800, #796F64);
  margin-bottom: 40px;
}
.cta-section .cta-form {
  margin: 0 auto;
  width: 264px;
}
.cta-section .cta-form .input-box {
  margin-bottom: 20px;
}
.cta-section button {
  margin: 0 auto;
}